<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.itwillbs.c5d2308t1_2.vo.CommunityVO" alias="community"/>
		<typeAlias type="com.itwillbs.c5d2308t1_2.vo.CommunityReplyVO" alias="reply"/>
	</typeAliases>
</configuration>