@charset "UTF-8";

/* ========== 커뮤니티 전체 영역 ========== */
/* 배경색 지정 */
.communityArea {
  background-color: #f9f9f9;
}

/* 커뮤니티 버튼 색상 변경 */
/* .btn:active, .btn:focus { */
/* outline:none !important; */
/* box-shadow:none !important; */
/* } */

.btn-group .btn-outline-primary, .modal .btn-outline-primary {
	border-color: #39d274;
	color: #000;
}

.form-group .btn, .btn-primary, #reviewBtn{
    color: #fff;
    background-color: #39d274;
    border-color: #39d274;
}

.btn-group .btn-outline-primary:hover, .form-group .btn:hover, .modal .btn:hover:not(#reviewClose), .btn-primary:hover, .page-item.active .page-link {
    color: #fff;
    background-color: #43c073 !important;
    border-color: #43c073 !important;
}

.btn-check:checked+.btn-outline-primary, .btn-check:focus+.btn-primary, .btn-primary:focus {
    color: #fff;
    background-color: #39d274;
    border-color: #39d274;
}

/* ========== 그림자 효과 ========== */
.communityTable .contentList, .post, .reply {
	padding: 42px;
	border: 1px solid #e6e6e6;
	border-radius: 4px;
	background-color: #fff;
	-webkit-box-shadow: 0px 5px 40px #00000008;
	box-shadow: 0px 5px 40px #ff000008;
}


/* ========== 커뮤니티 게시판 ========== */
.categoryBtn .btn {
	background-color: #fff;
	font-weight: 900;	
}

/* 제목 말줄임 */
.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 450px;
}

/* 제목 행 검은색 */
.contentList a {
	color: #000;
}

#subject:hover a, .mobileArea:hover .title {
	color: #39d274;
}

/* 제목 td 클릭 시 상세페이지 이동 */
#subject {
	cursor: pointer;
}


/* ============== 페이징 ============== */
.pagination {
    display: flex;
}

.page-link {
	color: #39d274;
}


/* ========== 커뮤니티 모바일 ========== */
.mobileArea:hover{
	color: #000;
}

.mobileComInfo {
	color: #888888;
}


/* ============== 상세 페이지==============  */

/* 게시글 제목 */
.post-title {
	font-size: 24px;
	font-weight: 900;
	color: black;
}

/* 게시글 내용 */
.contentText {
	color: black;
}

/* 이미지파일 */
.imgFIle {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.imgFIle:hover {
	opacity: 0.9;
	transform: scale(1.01);
}

/* The Modal (background) */
#myModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  padding-top: 200px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
#myModal .modal-content {
  margin: auto;
  display: block;
  width: 70%;
  max-width: 800px;
}

/* Add Animation - Zoom in the Modal */
#myModal .modal-content {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  #myModal .modal-content {
    width: 100%;
  }
}

/* 좋아요 버튼 */
.heart {
	width: 80px;
	height: 80px;
	background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat;
	background-position: 0 0;
	cursor: pointer;
	transition: background-position 1s steps(28);
	transition-duration: 0s;
	transform:translate(-40px, 15px);
}

.heart.is-active {
	transition-duration: 1s;
	background-position: -2800px 0;
}

/* 신고 버튼 */
.reportBtn {
	cursor: pointer;
	transition: 0.5s;
}

.reportBtn:hover {
	color: #f00;
	transform: scale(1.2);
	transition: 0.5s;
}

/* ============== 댓글 영역 ============== */
textarea.form-control {
	resize: none; /* 사이즈 조절 막기 */
}

/* 작성자 표시 */
/* .writerInfo { */
/* 	font-size: 12px; */
/* 	padding-left: 0.1rem; */
/* 	padding-right: 0.1rem; */
/* 	background-color: #eee; */
/* 	color: #000; */
/* } */
.badge {
	background-color: #39d274;
}

/* 댓글 줄바꿈 설정 */
.replyContent span {
    word-break: break-all; /* 영역을 벗어나면 줄바꿈 */
    overflow-wrap: break-word; /* 단어 단위로 줄바꿈 */
}

/* 대댓글 버튼 */
.replyBtn {
	cursor: pointer;
	transition: 0.5s;
}

.replyBtn:hover {
	color: #39d274;
	transform: scale(1.2);
	transition: 0.5s;
}

/* 삭제 버튼 */
.reDelBtn {
	cursor: pointer;
	transition: 0.5s;
}

.reDelBtn a {
	color: #000;
}

.reDelBtn a:hover {
	color: #f00;
	transform: scale(1.2);
	transition: 0.5s;
}



/* ========= 등록 페이지 ============ */

#fileArea {
	cursor: pointer;
	transition: 0.5s;
}
#fileArea:hover {
	color: #39d274;
	transition: 0.5s;
}


    .scrolling-wrapper{
        overflow-x: auto;
    }
    
    
    .scrolling-wrapper::-webkit-scrollbar {
/*       width: 1px; */
      height: 5px;
    }
   .scrolling-wrapper::-webkit-scrollbar-track {
      background: #f1f1f1; 
    }
    .scrolling-wrapper::-webkit-scrollbar-thumb {
      background: #888; 
    }
    .scrolling-wrapper::-webkit-scrollbar-thumb:hover {
      background: #555; 
    }
    
.imageArea .delBtn {
	cursor: pointer;
	transition: 0.5s;
}

.imageArea .delBtn:hover {
	color: #f00;
	transition: 0.5s;
}
    
    
/* ==================== 반응형 설정 ====================== */    

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.communityForm, .communityDetail, .post, .reply, #commandCell {
		width: 100% !important; 
	} 
	
	.formCategory {
		width: 200px !important; 
	}
	
}

@media only screen and (max-width: 767px) {
	
	.communityForm, .communityDetail, .post, .reply, #commandCell {
		 width: 100% !important; 
	}
   
	.communityFormSubject {
		height: 300px !important;
	}

	#commandCell input {
		margin-bottom: 5px;
	}
	
	.searchKeyword, .searchBtn {
		padding-right: 0 !important;
	}
	
	.ellipsis {
		max-width: 300px !important;
	}
	
	.likeCount {
		padding-left: 0.25rem !important;
	}
	
	/* 댓글버튼 */
	#replySubmit {
		width: 20% !important;
	}
}
