@charset "UTF-8";

/* 마이페이지 CSS */
#fullArea {
	border: 1px solid;
	width: 1300px;
	height: 1800px;
	margin: 0 auto;
}

#fullArea div {
	border: 1px solid;
}

#bold {
	color: black;
	font-size: large;
}

a {
	all: unset;
}

/* 프로필 영역 */
#profileArea {
	width: 1200px !important;
	height: 200px !important;
	margin: 0 auto !important;
	box-sizing: content-box !important;
	padding: 0 !important;
}

#profileLeft {
	float: left;
/* 	box-sizing: content-box !important; */
}

#profileLeft img {
	margin: 20px !important; 
	width: 150px !important;
	height: 150px !important;
}

#profileRight {
/* 	box-sizing: content-box !important; */
	width: 1000px;
	height: 180px;
	float: left;
	display: inline-block;
	margin: 10px 1px;
}

#profileRightUpperLeft {
	display: inline-block;
	float: left;
	margin-top: 10px;
	
}

#profileRightUpperRight {
	display: inline-block;
	float: right;
	margin-top: 10px;
}

#profileRightMiddle {
	margin-top: 40px !important;
	text-align: center;
}

#profileRightMiddle span {
	padding:1px 20px 5px;
}

#profileRightBottom {
	width: 780px;
	height: 110px;
	margin: 0 auto;
}

/* 카테고리 영역 */
#categoryArea {
	width: 1200px !important;
	margin: 0 auto !important;
/* 	padding-bottom: 50px; */
	
	background-color: #fff;
    padding: 15px;
    border: 1px solid #eee;
    border-radius: 4px;
}

#categoryArea li {
	display: inline-block;
	padding:1px 60px 5px;
}

#tabArea {
	width: 1200px;
	height: 25px;
	margin: 0 auto;
	margin-top: 60px;
}

#tabArea ul {
	float: right;
}

#tabArea li {
	float: left;
	margin: 1px 10px;
}

/* ============================================================================= */
/* ---------- 상품 관련 탭(판매내역, 구매내역, 관심목록) 선택 시 --------------- */
#wholeProductArea {
	width: 1200px;
	margin: 0 auto;
	text-align: center;
	padding: 0 !important;
	
}

#singleProductArea {
	width: 290px;
	height: 400px;
	display: inline-block;
	margin-bottom: 10px !important;
	margin-left: 2px !important;
	margin-right: 2px !important;
	box-sizing: content-box !important;
	padding: 0 !important;
	
	
}

#singleProductArea img {
	width: 250px;
	height: 250px;
	margin: 20px 20px 5px;
	vertical-align: middle;
}

#singleProductTitleArea b {
	color: black;
	font-size: medium;
	margin-top: 5px;
	margin-bottom: 5px;
}

#singleProductInfoArea {
	font-size: small;
	margin-bottom: 5px !important;
	margin-top: 10px !important;
}

#singleProductContactArea {
	font-size: small;
	margin-bottom: 5px !important;
}

#singleProductButtonArea input[type="button"] {
	margin-top: 0px;
}



/* ========================================================================= */
/* ---------- 커뮤니티 작성글, 커뮤니티 작성 댓글 탭 선택 시 --------------- */
#communityButtonArea {
	width: 1200px;
	height: 30px;
	margin: 0 auto;
	margin-bottom: 20px;
	text-align: right;
}

#communityButtonArea input[type="button"] {
	margin-top: 10px;
}

#wholeCommunityArea {
	width: 1200px;
	margin: 0 auto;
	text-align: center;
	padding: 0 !important;
}

#communityCheckboxContainingArea {
	margin-bottom: 20px;
}

#communityCheckboxContainingArea input[type="checkbox"] {
	display: inline-block !important;
	align-items: center;
/* 	margin-top: 50% !important; */
}

/* 커뮤니티 작성글 탭 */
#singleCommunityArea {
	width: 1170px;
	height: 200px;
	display: inline-block;
	margin-bottom: 10px !important;
	margin-left: 2px !important;
	margin-right: 2px !important;
	box-sizing: content-box !important;
	padding: 0 !important;
}


#communityLeft {
	width: 970px;
	height: 180px;
	float: left;
	display: inline-block;
	margin: 10px 1px;
}

#communityRight {
	float: left;
}

#communityRight img {
	margin: 20px !important; 
	width: 150px !important;
	height: 150px !important;
}


#communityLeftUpperLeft {
	display: inline-block;
	float: left;
	width: 970px;
	height: 50px;
	
}


#communityMiddleLeft {
	display: inline-block;
	float: left;
}

#communityMiddleRight {
	display: inline-block;
	float: right;
	
}

#communityLeftBottom {
	width: 780px;
	height: 110px;
	margin: 0 auto;
	margin-top: 70px;
}


/* 커뮤니티 댓글 탭 */
#singleCommunityReplyArea {
	width: 1170px;
	height: 120px;
	display: inline-block;
	margin-bottom: 10px !important;
	margin-left: 2px !important;
	margin-right: 2px !important;
	box-sizing: content-box !important;
	padding: 0 !important;
}

#communityReplyTitleArea {
	float: left;
/* 	border: 1px solid; */
	width: 1170px;
	height: 50px;
/* 	margin: 0 auto; */
	
	
	
}

#communityReplyMiddleLeft {
	display: inline-block;
	float: left;
}

#communityReplyMiddleRight {
	display: inline-block;
	float: right;
	
}

#communityReplyLeftBottom {
	width: 980px;
	height: 40px;
	margin: 0 auto;
	margin-top: 70px;
}