<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.c5d2308t1_2.mapper.CommunityMapper">

	<!-- 게시글 등록 -->
	<insert id="insertCommunity">
		INSERT INTO Community
		VALUES(
			null
			, #{community_category}
			, #{community_writer}
			, #{community_subject}
			, #{community_content}
			, #{community_image1}
			, #{community_image2}
			, #{community_image3}
			, #{community_image4}
			, #{community_image5}
			, #{community_readcount}
			, now()
		)
	</insert>
	
	<!-- 페이징 처리를 위한 게시물 개수 조회 작업 -->
	<select id="selectCommunityListCount" resultType="int">
		SELECT COUNT(*)
		<choose>
			<when test="category == 4">
				FROM Community com JOIN CommunityLikeCount clc
				ON com.community_id = clc.community_num 
			</when>
			<otherwise>
				FROM Community
			</otherwise>
		</choose>
		WHERE
			<choose>
				<when test="category == 1">
					community_category = 1
				</when>
				<when test="category == 2">
					community_category = 2
				</when>
				<when test="category == 3">
					community_category = 3
				</when>
				<when test="category == 4">
					 count > 5
				</when>
				<when test="category.equals('')">
					1=1 
				</when>
			</choose>
<!-- 		<choose> -->
<!-- 			<when test="category.equals('hot')"> -->
<!-- 				FROM Community com JOIN CommunityLikeCount clc -->
<!-- 				ON com.community_id = clc.community_num  -->
<!-- 			</when> -->
<!-- 			<otherwise> -->
<!-- 				FROM Community -->
<!-- 			</otherwise> -->
<!-- 		</choose> -->
<!-- 		WHERE -->
<!-- 			<choose> -->
<!-- 				<when test="category.equals('info')"> -->
<!-- 					community_category = 1 -->
<!-- 				</when> -->
<!-- 				<when test="category.equals('question')"> -->
<!-- 					community_category = 2 -->
<!-- 				</when> -->
<!-- 				<when test="category.equals('daily')"> -->
<!-- 					community_category = 3 -->
<!-- 				</when> -->
<!-- 				<when test="category.equals('hot')"> -->
<!-- 					 count > 5 -->
<!-- 				</when> -->
<!-- 				<when test="category.equals('')"> -->
<!-- 					1=1  -->
<!-- 				</when> -->
<!-- 			</choose> -->
		<if test="!searchKeyword.equals('')">
			<choose>
				<when test="searchType.equals('subject')">
					AND community_subject LIKE '%${searchKeyword}%'
				</when>
				<when test="searchType.equals('content')">
					AND community_content LIKE '%${searchKeyword}%'
				</when>
				<when test="searchType.equals('writer')">
					AND community_writer LIKE #{searchKeyword}
				</when>
				<otherwise>
					AND community_subject LIKE '%${searchKeyword}%'
					OR community_content LIKE '%${searchKeyword}%'
					OR community_writer LIKE #{searchKeyword}
				</otherwise>
			</choose>
		</if>
	</select>
	
	<!-- 한 페이지에 표시할 게시글 목록 조회 작업 요청 -->
	<select id="selectCommunityList" resultType="community">
		SELECT *
		<choose>
			<when test="category == 4">
				FROM Community com JOIN CommunityLikeCount clc
				ON com.community_id = clc.community_num 
			</when>
			<otherwise>
				FROM Community
			</otherwise>
		</choose>
		WHERE
			<choose>
				<when test="category == 1">
					community_category = 1
				</when>
				<when test="category == 2">
					community_category = 2
				</when>
				<when test="category == 3">
					community_category = 3
				</when>
				<when test="category == 4">
					 count > 5
				</when>
				<when test="category.equals('')">
					1=1 
				</when>
			</choose>
		<if test="!searchKeyword.equals('')">
			<choose>
				<when test="searchType.equals('subject')">
					AND community_subject LIKE '%${searchKeyword}%'
				</when>
				<when test="searchType.equals('content')">
					AND community_content LIKE '%${searchKeyword}%'
				</when>
				<when test="searchType.equals('writer')">
					AND community_writer LIKE #{searchKeyword}
				</when>
				<otherwise>
					AND community_subject LIKE '%${searchKeyword}%'
					OR community_content LIKE '%${searchKeyword}%'
					OR community_writer LIKE #{searchKeyword}
				</otherwise>
			</choose>
		</if>
		ORDER BY community_id DESC
		LIMIT #{page.startRow}, #{page.listLimit}
	</select>
	
	<!-- 게시글 조회 -->
	<select id="selectCommunity" resultType="map">
		SELECT *
		FROM Community com JOIN Member m
		ON com.community_writer = m.member_id
		WHERE community_id = #{community_id}
	</select>
	
	<!-- 게시글 조회수 증가 작업 -->
	<update id="updateReadcount">
		<selectKey keyProperty="community_readcount" resultType="int" order="AFTER">
			SELECT community_readcount
			FROM Community
			WHERE community_id = #{community_id}
		</selectKey>
		UPDATE Community
		SET community_readcount = community_readcount + 1
		WHERE community_id = #{community_id}
	</update>
	
	<!-- 게시글 삭제 작업 -->
	<delete id="deleteCommunity">
		DELETE FROM Community
		WHERE community_id = #{community_id}
	</delete>
	
	<!-- 게시글 수정 - 파일 삭제 작업 -->
	<update id="updateCommunityFile">
		UPDATE Community
		SET
			community_image1 = CASE WHEN community_image1 = #{community_image1} THEN '' ELSE community_image1 END,
			community_image1 = CASE WHEN community_image2 = #{community_image1} THEN '' ELSE community_image2 END,
			community_image1 = CASE WHEN community_image3 = #{community_image1} THEN '' ELSE community_image3 END,
			community_image1 = CASE WHEN community_image4 = #{community_image1} THEN '' ELSE community_image4 END,
			community_image1 = CASE WHEN community_image5 = #{community_image1} THEN '' ELSE community_image5 END
		WHERE community_id = #{community_id}
	</update>
	
	<!-- 게시글 수정 작업 -->
	<update id="updateCommunity">
		UPDATE Community
		SET
			community_category = #{community_category}
			, community_subject = #{community_subject}
			, community_content = #{community_content}
			<if test="!community_image1.equals('')">
				, community_image1 = #{community_image1}
			</if>
			<if test="!community_image2.equals('')">
				, community_image2 = #{community_image2}
			</if>
			<if test="!community_image3.equals('')">
				, community_image3 = #{community_image3}
			</if>
			<if test="!community_image4.equals('')">
				, community_image4 = #{community_image4}
			</if>
			<if test="!community_image5.equals('')">
				, community_image5 = #{community_image5}
			</if>
		WHERE community_id = #{community_id}
	</update>
	
	<!-- 댓글 등록 작업 -->
	<insert id="insertReplyCommunity">
		<selectKey keyProperty="reply_id" resultType="int" order="BEFORE">
			SELECT IFNULL(MAX(reply_id), 0)
			FROM CommunityReply
		</selectKey>
		INSERT INTO CommunityReply
		VALUES(
			null
			, #{community_id}			
			, #{reply_writer}			
			, #{reply_content}			
			, #{reply_id} + 1
			, 0
			, 0
			, now()			
		)
	</insert>
	
	<!-- 게시글 댓글 목록 조회 -->
	<select id="getReplyList" resultType="reply">
		SELECT *
		FROM CommunityReply
		WHERE 
			community_id = #{community_id}
		ORDER BY
				reply_re_ref DESC
				,reply_re_seq ASC
				<!-- 댓글 최신순, 대댓글 오름차순을 위한 희망 -->
<!-- 			reply_re_ref DESC, -->
<!-- 		    CASE  -->
<!-- 		        WHEN reply_re_seq = 0 THEN 0 -->
<!-- 		        ELSE 1 -->
<!-- 		    END,  -->
<!-- 		    reply_re_seq DESC; -->
	</select>
	
	<!-- 댓글 작성자 조회 -->
	<select id="selectReplyWriter" resultType="reply">
		SELECT reply_id, reply_writer
		FROM CommunityReply
		WHERE reply_id = #{reply_id}
	</select>
	
	<!-- 댓글 삭제 작업 -->
	<delete id="deleteReply">
		DELETE FROM CommunityReply
		WHERE reply_id = #{reply_id}
	</delete>
	
	<!-- 대댓글 작성 시 기존 대댓글 순서 조정 -->
	<update id="updateReplySeq">
		UPDATE CommunityReply
		SET
			reply_re_seq = reply_re_seq + 1
		WHERE
			community_id = #{community_id}
			AND	reply_re_ref = #{reply_re_ref}
			AND reply_re_seq > #{reply_re_seq} 
	</update>
<!-- 	<update id="updateReplySeq"> -->
<!-- 		UPDATE CommunityReply -->
<!-- 		SET -->
<!-- 			reply_re_seq = reply_re_seq + 1 -->
<!-- 		WHERE -->
<!-- 			community_id = #{community_id} -->
<!-- 			AND	reply_re_ref = #{reply_re_ref} -->
<!-- 			<choose> -->
<!-- 				<when test="reply_re_seq > 0"> -->
<!-- 					AND reply_re_seq >= #{reply_re_seq}  -->
<!-- 				</when> -->
<!-- 				<when test="reply_re_seq = 0"> -->
<!-- 					AND reply_re_seq > #{reply_re_seq}  -->
<!-- 				</when> -->
<!-- 			</choose> -->
<!-- 	</update> -->
	
	<!-- 대댓글 작성 작성 -->
	<insert id="insertReReply">
		INSERT INTO CommunityReply
		VALUES(
			null
			, #{community_id}
			, #{reply_writer}
			, #{reply_content}
			, #{reply_re_ref}
			, #{reply_re_lev} + 1
			, #{reply_re_seq} + 1
			, now()
		)
	</insert>
	
	<!-- 상세 개시글 좋아요 갯수 -->
	<select id="selectLikeCount" resultType="int">
		SELECT IFNULL(COUNT(*), 0) 
		FROM CommunityLike
		WHERE 
			community_like_status = 0
			AND community_num = #{community_id}
	</select>
	
	<!-- 상세 게시글 좋아요 판별 -->
	<select id="selectLike" resultType="map">
		SELECT *
		FROM CommunityLike
		WHERE
			member_id = #{member_id}
			AND community_like_status = #{community_like_status}
			AND community_num = #{community_num}
	</select>
	
	<!-- 좋아요 삭제 -->
	<delete id="deleteLike">
		DELETE FROM CommunityLike
		WHERE
			member_id = #{member_id}
			AND community_like_status = #{community_like_status}
			AND community_num = #{community_num}
	</delete>
	
	<!-- 좋아요 등록 -->
	<insert id="insertLike">
		INSERT INTO CommunityLike
		VALUES(
			null
			, #{member_id}
			, #{community_like_status}
			, #{community_num}
		)
	</insert>
	
	<!-- 회원의 좋아요 목록 -->
	<select id="selectLikeList">
		SELECT *
		FROM CommunityLike
		WHERE 
			member_id = #{sId}
			AND community_like_status = #{community_like_status}
	</select>
	
	<!-- 임시저장한 게시글 조회 -->
	<select id="selectTempCommunity" resultType="map">
		SELECT *
		FROM TempCommunity
		WHERE temp_writer = #{community_writer}
	</select>
	
	<!-- 게시글 임시저장 -->
	<insert id="insertTempCommunity">
		INSERT INTO TempCommunity
		VALUES(
			null
			, #{community_category}
			, #{community_writer}
			, #{community_subject}
			, #{community_content}
			, IFNULL(#{community_image1}, "")
			, IFNULL(#{community_image2}, "")
			, IFNULL(#{community_image3}, "")
			, IFNULL(#{community_image4}, "")
			, IFNULL(#{community_image5}, "")
			, now()
		)
	</insert>
	
	<!-- 임시저장 게시글 업데이트 -->
	<update id="updateTempCommunity">
		UPDATE TempCommunity
		SET 
			temp_category = #{community_category}
			, temp_writer = #{community_writer}
			, temp_subject = #{community_subject}
			, temp_content = #{community_content}
			, temp_datetime = now()
		WHERE temp_writer = #{community_writer}
	</update>
	
	<!-- 임시저장 게시글 삭제 -->
	<delete id="deleteTempCommunity">
		DELETE FROM TempCommunity
		WHERE temp_writer = #{community_writer}
	</delete>
	
	<!-- 이미지 등록 ajax -->
	<insert id="insertTempImage">
		INSERT INTO TempCommunity (temp_id, temp_writer, temp_image1, temp_image2, temp_image3, temp_image4, temp_image5, temp_datetime)
		VALUES(
			null
			, #{community_writer}
			, CASE WHEN #{community_image1} = "" then "" ELSE #{community_image1} END
			, CASE WHEN #{community_image2} = "" then "" ELSE #{community_image2} END
			, CASE WHEN #{community_image3} = "" then "" ELSE #{community_image3} END
			, CASE WHEN #{community_image4} = "" then "" ELSE #{community_image4} END
			, CASE WHEN #{community_image5} = "" then "" ELSE #{community_image5} END
			, now()
		)
	</insert>
	<!-- 이미지 등록 ajax -->
	<update id="updateTempImage">
		UPDATE TempCommunity
		SET
			<choose>
				<when test="!community_image1.equals('')">
					temp_image1 = #{community_image1}
				</when>
				<when test="!community_image2.equals('')">
					temp_image2 = #{community_image2}
				</when>
				<when test="!community_image3.equals('')">
					temp_image3 = #{community_image3}
				</when>
				<when test="!community_image4.equals('')">
					temp_image4 = #{community_image4}
				</when>
				<when test="!community_image5.equals('')">
					temp_image5 = #{community_image5}
				</when>
			</choose>
		WHERE temp_writer = #{community_writer}
	</update>
	
	<!-- 이미지 삭제 ajax의 널스트링 처리 -->
	<update id="removeTempImage">
		UPDATE TempCommunity
		SET
			<choose>
				<when test="index == 1">temp_image1 = ""</when>
				<when test="index == 2">temp_image2 = ""</when>
				<when test="index == 3">temp_image3 = ""</when>
				<when test="index == 4">temp_image4 = ""</when>
				<when test="index == 5">temp_image5 = ""</when>
			</choose>
		WHERE temp_writer = #{temp_writer}
	</update>
	
	<!-- 이미지 삭제 ajax의 삭제 이후 순서 옮기기 -->
	<update id="moveTempImage">
		UPDATE TempCommunity
		SET
			temp_image1 = #{temp_image1}
			, temp_image2 = #{temp_image2}
			, temp_image3 = #{temp_image3}
			, temp_image4 = #{temp_image4}
			, temp_image5 = #{temp_image5}
			, temp_datetime = now()
		WHERE temp_writer = #{temp_writer}
	</update>
</mapper>











