<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.c5d2308t1_2.mapper.MemberMapper">
	<!--  회원가입 INSERT  -->
	<insert id="insertMember">
		INSERT INTO Member
		VALUES (
			#{member_id}
			, #{member_name}
			, #{member_email}
			, #{member_birth}
			, #{member_nickname}
			, #{member_phone}
			, 1 -- 회원 상태
			, #{member_password}
			, null -- 프로필 임시로 null
			, #{member_address}
			, null -- 탈퇴시간 null
			, 0 -- 본인인증여부 임시로 미인증(휴대폰인증기능 구현후 1로 변경)
			, 1 -- 동네인증여부(가입 시 인증하므로 1)
			, now() -- 동네인증 시간 now()
			, 0 -- 페이 인증 여부 미인증(0)
			, 1 -- 회원레벨 1으로 시작
			, 0 -- 회원경험치 0으로 시작
			, null -- 동 임시로 null
			, 0 -- 최종신고횟수 0
		
		)
	</insert>
	
	<!-- 회원정보조회 SELECT -->
	<select id="selectMember" resultType="member">
		SELECT *
		FROM Member
		WHERE Member.member_id = #{member_id} 
	</select>
	
	<!-- 중복 체크 위한 회원정보조회 SELECT -->
	<select id="selectDupMemberInfo" resultType="member">
		SELECT * 
		FROM Member
		WHERE member_id = #{member_id}
			OR member_nickname = #{member_nickname} 
			OR member_email = #{member_email}
			OR member_phone = #{member_phone}
		<!-- OR member_email = #{member_email} OR member_phone = #{member_phone} --> 
	</select>

	<!-- 아이디 찾기를 위한 회원정보 조회 SELECT -->
	<select id="selectMemberForId" resultType="member">
		SELECT *
		FROM Member
		WHERE member_name = #{member_name}
			AND member_email = #{member_email}
			AND member_birth = #{member_birth}
	</select>

	<!-- 비밀번호 찾기를 위한 회원정보 조회 SELECT -->
	<select id="selectMemberForPassword" resultType="member">
		SELECT *
		FROM Member
		WHERE member_id = #{member_id}
			AND member_name = #{member_name}
			AND member_phone = #{member_phone}
	</select>
</mapper>