<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.c5d2308t1_2.mapper.PaymentMapper">
	<!-- 토큰 아이디조회 -->
	<select id="selectAccessToken" resultType="String">
		SELECT member_id
		FROM Token
		WHERE member_id = #{member_id}
	</select>

	<!-- 엑세스 토큰 저장 - INSERT -->
	<insert id="insertAccessToken">
		INSERT INTO Token
		VALUES (
			#{member_id}
			, #{token.access_token} 
			, #{token.refresh_token} 
			, #{token.user_seq_no} 
			, null
		)
	</insert>

	<!-- 엑세스 토큰 업데이트 - UPDATE -->
	<update id="updateAccessToken">
		UPDATE Token
		SET 
			access_token = #{token.access_token}
			, refresh_token = #{token.refresh_token}
			, user_seq_no = #{token.user_seq_no}
		WHERE member_id = #{member_id}
	</update>
	
	<!-- 페이 아이디조회 -->
	<select id="selectPay" resultType="int">
		SELECT count(*)
		FROM Pay
		WHERE member_id = #{member_id}
	</select>
	
	<!-- 페이 가입 - INSERT -->
	<insert id="insertPay">
		INSERT INTO Pay
		VALUES (
			null
			, #{member_id}
			, #{fintech_use_num}
			, #{bank_name}
			, #{account_num_masked}
			, now()
			, 1
			, null
			, #{pay_password}
		)
	</insert>
	
</mapper>