<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.c5d2308t1_2.mapper.ProductMapper">
	<!-- 상품 목록 갯수 -->
	<select id="productListCount" resultType="int">
		SELECT COUNT(*)
		FROM ProductData
		WHERE 
		<choose>
			<when test="trade == 0">trade_status = 0</when>
			<when test="trade == 2">trade_status IN (0 , 2)</when>
			<otherwise>
				1 + 1
			</otherwise>
		</choose>
		<!-- 로그인시 회원 구별 조회 -->
		<if test="sId != null">
			AND 
			gu = (SELECT gu
			FROM Member m JOIN Town t 
			ON  m.town_id = t.town_id
			WHERE member_id = #{sId})	
		</if>
<!-- 		<if test="!category.equals('') or !keyword.equals('') or !price.equals('') or !status.equals('') or !word.equals('')"> -->
		<if test="!category.equals('') or !keyword.equals('')">
			AND
		</if>
		<!-- 카테고리 및 키워드 별 조회 -->
		<choose>
			<when test="!category.equals('')">
				product_category = #{category}	
			</when>
			<when test="!keyword.equals('')" >
				product_name LIKE CONCAT('%', #{keyword}, '%') 
			</when>
		</choose>
		<!-- 상품 가격별 조회 -->
<!-- 		<if test="(sId != null or !category.equals('') or !keyword.equals('')) and !price.equals('')"> -->
<!-- 			AND -->
<!-- 		</if> -->
		<if test="!price.equals('')">AND product_price between #{minPrice} AND #{maxPrice}</if>
		<!-- 상품 상태별 조회 -->
<!-- 		<if test="(sId != null or !category.equals('') or !keyword.equals('') or !price.equals('')) and !status.equals('')"> -->
<!-- 			AND -->
<!-- 		</if> -->
		<if test="!status.equals('')">
			AND
			<choose>
				<when test="status3 != null">
					product_status IN (#{status1}, #{status2}, #{status3})
				</when>
				<when test="status2 != null">
					product_status IN (#{status1}, #{status2})
				</when>
				<when test="status1 != null">
					product_status = #{status1}
				</when>
				<otherwise>
					1 + 1
				</otherwise>
			</choose>
		</if>
<!-- 		<if test="(sId != null or !category.equals('') or !keyword.equals('') or !price.equals('') or !status.equals('')) and !word.equals('') "> -->
<!-- 			AND -->
<!-- 		</if> -->
		<if test="!word.equals('')">
			AND product_name NOT LIKE CONCAT('%', #{word}, '%') 	
		</if>		
	</select>
	
	<!-- 상품 목록 조회 -->
	<select id="selectProductList" resultType="map"> 
		SELECT p.product_id, product_category, p.member_id, product_name, product_price, gu, p.dong  
		, product_datetime, product_image1, trade_status 
		FROM ProductData p JOIN Member m
		ON p.member_id = m.member_id
		WHERE 
		<choose>
			<when test="trade == 0">trade_status = 0</when>
			<when test="trade == 2">trade_status IN (0 , 2)</when>
			<otherwise>
				1 + 1
			</otherwise>
		</choose>
		<!-- 로그인시 회원 구별 조회 -->
		<if test="sId != null">
			AND 
			gu = (SELECT gu
			FROM Member m JOIN Town t 
			ON  m.town_id = t.town_id
			WHERE member_id = #{sId})	
		</if> 
		<if test="!category.equals('') or !keyword.equals('')">
			AND
		</if>
		<choose>
			<when test="category != ''">
				product_category = #{category}	
			</when>
			<when test="keyword != ''" >
				product_name LIKE CONCAT('%', #{keyword}, '%') 
			</when>
		</choose>
		<!-- 상품 가격별 조회 -->
		<if test="!price.equals('')">AND product_price between #{minPrice} AND #{maxPrice}</if>
		<!-- 상품 상태별 조회 -->
		<if test="!status.equals('')">
			AND
			<choose>
				<when test="status3 != null">
					product_status IN (#{status1}, #{status2}, #{status3})
				</when>
				<when test="status2 != null">
					product_status IN (#{status1}, #{status2})
				</when>
				<when test="status1 != null">
					product_status = #{status1}
				</when>
				<otherwise>
					1 + 1
				</otherwise>
			</choose>
		</if>
		<if test="!word.equals('')">
			AND product_name NOT LIKE CONCAT('%', #{word}, '%') 	
		</if>	
		ORDER BY 
		<choose>
			<when test="sort == 1">product_datetime DESC,</when>
			<when test="sort == 2">product_wishcount DESC ,</when>
			<when test="sort == 3">product_price ASC,</when>
			<when test="sort == 4">product_price DESC,</when>
		</choose>
		product_datetime DESC
		LIMIT #{page.startRow}, #{page.listLimit}
	</select>
	<!-- ==================================================================== -->
	<!-- 어드민 페이지 상품 목록 -->
	<select id="adminProductList" resultType="map">
		SELECT *
		FROM ProductData
		ORDER BY product_id DESC
	</select>
	
	<delete id="prdouctDel">
		DELETE FROM Product
		WHERE product_id = #{product_id}
	</delete>
		
	<!-- 관심 상품 목록 조회 -->
	<select id="selectLikeList" resultType="map">
		SELECT *
		FROM ProductLike
		WHERE member_id = #{member_id}
	</select>
	
	<!-- ================================================================================= -->
	<!-- 상품 등록 - INSERT -->
	<insert id="productInsert">
        <selectKey keyProperty="town_id" order="BEFORE" resultType="int">
            SELECT town_id
            FROM Town t 
            WHERE gu = #{gu}
            AND dong = #{dong}
        </selectKey>
        INSERT INTO Product
        VALUES (
            null
            , #{sId}
            , #{product_name}
            , #{product_price}
            , #{product_txt}
            , #{product_category}
            , #{product_image1} 
            , <if test="product_image2 != null">#{product_image2}</if><if test="product_image2 == null">NULL</if> 
            , <if test="product_image3 != null">#{product_image3}</if><if test="product_image3 == null">NULL</if>
            , <if test="product_image4 != null">#{product_image4}</if><if test="product_image4 == null">NULL</if>
            , <if test="product_image5 != null">#{product_image5}</if><if test="product_image5 == null">NULL</if>
            , now()
            , #{trade_method}
            , #{product_status}
            , #{town_id}
            , 0
            , #{tag_name1}
            , #{tag_name2}
            , #{tag_name3}
            , #{tag_name4}
            , 0
        )
    </insert>
<!-- 	<insert id="productBoardInsert"> -->
<!-- 		INSERT INTO ProductBoard -->
<!-- 		values ( -->
<!-- 			null -->
<!-- 			,(SELECT max(product_id) -->
<!-- 			 FROM Product) -->
<!-- 			,0 -->
<!-- 			,0 -->
<!-- 		); -->
<!-- 	</insert> -->
	<select id="selectProductId" resultType="int">
		SELECT max(product_id)
		 FROM Product
	</select>
		
	<!-- Map으로 받은 상품 -->
	<select id="selectProduct" resultType="hashMap">
		SELECT *
		FROM Product
		WHERE product_id = #{product_id};
	</select>

	<!-- 날짜 데이터 가공을 위해 LIST로 받은 상품목록 -->	
	<select id="selectProduct2" resultType="map">
		SELECT *
		FROM Product
		WHERE product_id = #{product_id};
	</select>

	<!-- 연관상품 조회 -->
<!-- 	<select id="selectRelatedProducts" resultType="map"> -->
<!--     SELECT * -->
<!--     FROM Product -->
<!--     WHERE (tag_name1 LIKE CONCAT('%', #{tag_name1}, '%')  -->
<!--     OR tag_name1 LIKE CONCAT('%', #{tag_name2}, '%') -->
<!--     OR tag_name1 LIKE CONCAT('%', #{tag_name3}, '%') -->
<!--     OR tag_name1 LIKE CONCAT('%', #{tag_name4}, '%') -->
<!--     OR tag_name2 LIKE CONCAT('%', #{tag_name1}, '%') -->
<!--     OR tag_name2 LIKE CONCAT('%', #{tag_name2}, '%') -->
<!--     OR tag_name2 LIKE CONCAT('%', #{tag_name3}, '%') -->
<!--     OR tag_name2 LIKE CONCAT('%', #{tag_name4}, '%') -->
<!--     OR tag_name3 LIKE CONCAT('%', #{tag_name1}, '%') -->
<!--     OR tag_name3 LIKE CONCAT('%', #{tag_name2}, '%') -->
<!--     OR tag_name3 LIKE CONCAT('%', #{tag_name3}, '%') -->
<!--     OR tag_name3 LIKE CONCAT('%', #{tag_name4}, '%') -->
<!--     OR tag_name4 LIKE CONCAT('%', #{tag_name1}, '%') -->
<!--     OR tag_name4 LIKE CONCAT('%', #{tag_name2}, '%') -->
<!--     OR tag_name4 LIKE CONCAT('%', #{tag_name3}, '%') -->
<!--     OR tag_name4 LIKE CONCAT('%', #{tag_name4}, '%') -->
<!--     OR product_category = #{product_category} -->
<!--     OR product_name LIKE CONCAT('%', #{product_name}, '%')) AND product_id != #{product_id} AND trade_status = 0 -->
<!-- 	</select> -->
	<select id="selectRelatedProducts" resultType="map">
		SELECT *
		FROM Product
<!-- 		WHERE ((tag_name1 IS NOT NULL AND (tag_name1 LIKE CONCAT('%', #{tag_name1}, '%')  -->
<!-- 		OR tag_name1 LIKE CONCAT('%', #{tag_name2}, '%') -->
<!-- 		OR tag_name1 LIKE CONCAT('%', #{tag_name3}, '%') -->
<!-- 		OR tag_name1 LIKE CONCAT('%', #{tag_name4}, '%'))) -->
<!-- 		OR (tag_name2 IS NOT NULL AND (tag_name2 LIKE CONCAT('%', #{tag_name1}, '%') -->
<!-- 		OR tag_name2 LIKE CONCAT('%', #{tag_name2}, '%') -->
<!-- 		OR tag_name2 LIKE CONCAT('%', #{tag_name3}, '%') -->
<!-- 		OR tag_name2 LIKE CONCAT('%', #{tag_name4}, '%'))) -->
<!-- 		OR (tag_name3 IS NOT NULL AND (tag_name3 LIKE CONCAT('%', #{tag_name1}, '%') -->
<!-- 		OR tag_name3 LIKE CONCAT('%', #{tag_name2}, '%') -->
<!-- 		OR tag_name3 LIKE CONCAT('%', #{tag_name3}, '%') -->
<!-- 		OR tag_name3 LIKE CONCAT('%', #{tag_name4}, '%'))) -->
<!-- 		OR (tag_name4 IS NOT NULL AND (tag_name4 LIKE CONCAT('%', #{tag_name1}, '%') -->
<!-- 		OR tag_name4 LIKE CONCAT('%', #{tag_name2}, '%') -->
<!-- 		OR tag_name4 LIKE CONCAT('%', #{tag_name3}, '%') -->
<!-- 		OR tag_name4 LIKE CONCAT('%', #{tag_name4}, '%'))) -->
		WHERE product_category = #{product_category}
		AND product_id != #{product_id}
		AND trade_status = 0
	</select>
	
	<!-- 관심 갯수 판별 -->
	<select id="selectInterestCount" resultType="int">
		SELECT IFNULL(COUNT(*),0)
		FROM ProductLike
		WHERE
			product_id = #{product_id}
	</select>
	
	<!-- 상품 관심 판별 -->
	<select id="selectInterest" resultType="map">
	SELECT *
	FROM ProductLike
	WHERE 
		member_id = #{member_id}
		AND product_id = #{product_id}
	</select>
	
	<!-- 관심 삭제 -->
	<delete id="deleteInterest">
		DELETE FROM ProductLike
		WHERE 
			member_id = #{member_id}
			AND product_id = #{product_id}
	</delete>
	<!-- 관심 등록 -->
	<insert id="insertInterest">
		INSERT INTO ProductLike
		VALUES(
			null
			, #{product_id}
			, #{member_id}
		)
	</insert>
	<!-- 관심 가져오기 -->
	<select id="selectMemberInterset" resultType="map">
		SELECT *
		FROM ProductLike
		WHERE
			member_id = #{member_id}
			AND product_id = #{product_id}	
	</select>
	
	<!-- 판매자정보 가져오기 -->
	<select id="selectSellerInfo" resultType="map">
		SELECT DISTINCT *
		FROM Product p JOIN Member m
		on p.member_id = m.member_id
		WHERE
	   		 product_id = #{product_id}
	</select>
	<!-- 상품수정 페이지로 이동 -->
	<select id="selectProductModify" resultType="map">
		SELECT *
		FROM Product
		WHERE
			product_id = #{product_id}
	</select>
	<!-- 상품 수정 등록 -->
<!-- <update id="updateProduct"> -->
<!--   UPDATE Product -->
<!--   SET  -->
<!--     product_name = #{product_name} -->
<!--     , product_price = #{product_price} -->
<!--     , product_txt = #{product_txt} -->
<!--     , product_category = #{product_category} -->
<!--     , product_image1 = #{product_image1}  -->
<!--     <if test="product_image2 != null">, product_image2 = #{product_image2}</if> -->
<!--     <if test="product_image2 == null">, product_image2 = NULL</if>  -->
<!--     <if test="product_image3 != null">, product_image3 = #{product_image3}</if> -->
<!--     <if test="product_image3 == null">, product_image3 = NULL</if> -->
<!--     <if test="product_image4 != null">, product_image4 = #{product_image4}</if> -->
<!--     <if test="product_image4 == null">, product_image4 = NULL</if> -->
<!--     <if test="product_image5 != null">, product_image5 = #{product_image5}</if> -->
<!--     <if test="product_image5 == null">, product_image5 = NULL</if> -->
<!--     , trade_method = #{trade_method} -->
<!--     , product_status = #{product_status} -->
<!--     , gu = #{gu} -->
<!--     , dong = #{dong} -->
<!--     , tag_name1 = <choose><when test="tag_name1 != null and tag_name1 != ''">#{tag_name1}</when><otherwise>NULL</otherwise></choose> -->
<!--     , tag_name2 = <choose><when test="tag_name2 != null and tag_name2 != ''">#{tag_name2}</when><otherwise>NULL</otherwise></choose> -->
<!--     , tag_name3 = <choose><when test="tag_name3 != null and tag_name3 != ''">#{tag_name3}</when><otherwise>NULL</otherwise></choose> -->
<!--     , tag_name4 = <choose><when test="tag_name4 != null and tag_name4 != ''">#{tag_name4}</when><otherwise>NULL</otherwise></choose> -->
<!--   WHERE -->
<!--     product_id = #{product_id} -->
<!-- </update> -->
<update id="updateProduct">
    <selectKey keyProperty="town_id" order="BEFORE" resultType="int">
        SELECT town_id
        FROM Town t 
        WHERE gu = #{gu}
        AND dong = #{dong}
    </selectKey> 
  UPDATE Product
  SET 
    product_name = #{product_name}
    , product_price = #{product_price}
    , product_txt = #{product_txt}
    , product_category = #{product_category}
    , product_image1 = #{product_image1} 
    <if test="product_image2 != null">, product_image2 = #{product_image2}</if>
    <if test="product_image2 == null">, product_image2 = NULL</if> 
    <if test="product_image3 != null">, product_image3 = #{product_image3}</if>
    <if test="product_image3 == null">, product_image3 = NULL</if>
    <if test="product_image4 != null">, product_image4 = #{product_image4}</if>
    <if test="product_image4 == null">, product_image4 = NULL</if>
    <if test="product_image5 != null">, product_image5 = #{product_image5}</if>
    <if test="product_image5 == null">, product_image5 = NULL</if>
    , trade_method = #{trade_method}
    , product_status = #{product_status}
    , town_id = #{town_id}
    , tag_name1 = <choose><when test="tag_name1 != null and tag_name1 != ''">#{tag_name1}</when><otherwise>NULL</otherwise></choose>
    , tag_name2 = <choose><when test="tag_name2 != null and tag_name2 != ''">#{tag_name2}</when><otherwise>NULL</otherwise></choose>
    , tag_name3 = <choose><when test="tag_name3 != null and tag_name3 != ''">#{tag_name3}</when><otherwise>NULL</otherwise></choose>
    , tag_name4 = <choose><when test="tag_name4 != null and tag_name4 != ''">#{tag_name4}</when><otherwise>NULL</otherwise></choose>
  WHERE
    product_id = #{product_id}
</update>
	<!-- 판매자판매 상품 조회 -->
	<select id="selectSellerProductInfo" resultType="map">
		SELECT *
		FROM Product
		WHERE member_id = #{member_id} AND trade_status = 0
	 </select>
	<!-- 판매자판매 상품 갯수 조회 -->
	<select id="selectSellerProductCount" resultType="int">
		SELECT COUNT(product_id)
		FROM Product
		WHERE member_id = #{member_id}
	</select>
	
	<!-- ===========================================================  -->
	<!-- product_board 테이블 사용할때 -->
	
<!-- 	 판매글 조회 --> 
<!-- 	<select id="selectProductCount" resultType="map"> -->
<!-- 		SELECT * -->
<!-- 		FROM Product_board -->
<!-- 		WHERE product_id = #{product_id} -->
<!-- 	</select> -->
	
<!-- 	판매글 조회수 증가 작업 --> 
<!-- 		<update id="updateReadcount"> -->
<!-- 		<selectKey keyProperty="product_readcount" resultType="int" order="AFTER"> -->
<!-- 			SELECT product_readcount -->
<!-- 			FROM Product_board -->
<!-- 			WHERE product_id = #{product_id} -->
<!-- 		</selectKey> -->
<!-- 		UPDATE Product_board -->
<!-- 		SET product_readcount = product_readcount + 1 -->
<!-- 		WHERE product_id = #{product_id} -->
<!-- 	</update> -->
	<!-- ===========================================================  -->

<!-- 	판매글 조회 -->
	<select id="selectProductCount" resultType="map">
		SELECT *
		FROM Product
		WHERE product_id = #{product_id}
	</select>

<!-- 	판매글 조회수 증가 작업 -->
		<update id="updateReadcount">
		<selectKey keyProperty="product_readcount" resultType="int" order="AFTER">
			SELECT product_readcount
			FROM Product
			WHERE product_id = #{product_id}
		</selectKey>
		UPDATE Product
		SET product_readcount = product_readcount + 1
		WHERE product_id = #{product_id}
	</update>
	
	<!-- 이미지조회 -->
	<select id="getProductImage" resultType="map">
		SELECT *
		FROM Product
		WHERE product_id = #{product_id}
	</select>
	
	<!-- 글 삭제 -->
<!-- 	<delete id="removeProductBoard"> -->
<!-- 		DELETE FROM Product_board -->
<!-- 		WHERE product_id = #{product_id} -->
<!-- 	</delete> -->
	
	<delete id="removeProduct">
		DELETE FROM Product
		WHERE product_id = #{product_id}
	</delete>
	
	<select id="getGuDong" resultType="map">
		SELECT *
		FROM ProductData
		WHERE product_id = #{product_id}
	</select>
	<!-- 상품등록 / 수정할때 판별 소심페이 가능하냐 -->
	<select id="selectPayStatus" resultType="int">
        SELECT count(*)
        FROM Pay
        WHERE member_id = #{sId}
	</select>
	
	<select id="getProductMemberLevel">
		SELECT *
		FROM MemberLevelView
		WHERE member_id = #{member_id}
	</select>
	
	<select id="selectProductPayStatus">
			SELECT DISTINCT member_id 
			FROM Product p 
			WHERE EXISTS (SELECT 1
			                FROM Pay 
			                WHERE p.member_id = Pay.member_id
			                AND pay_status = 0)
			AND member_id = #{member_id};
	</select>
	
	<select id="selectPayUser" resultType="map">
		SELECT DISTINCT member_id 
		FROM Product p 
		WHERE EXISTS (SELECT 1
					FROM Pay 
					WHERE p.member_id = Pay.member_id
					AND pay_status = 0)
	</select>
		
	<select id="selectReviewCount" resultType="int">
		SELECT COUNT(review_status) 
		FROM ReviewCount
		WHERE 
			target_member_id = #{member_id};
	</select>
</mapper>
	
















