<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.c5d2308t1_2.mapper.ProductMapper">
	
	<!-- 상품 등록 - INSERT -->
	<insert id="productInsert">
		INSERT INTO Product
		VALUES (
			null
			, 'admin'
			, #{product_name}
			, #{product_price}
			, #{product_txt}
			, #{product_category}
			, #{tag_name}
			, #{product_image1} 
			, #{product_image2}  
			, #{product_image3}  
			, #{product_image4}  
			, #{product_image5}  
			, now()
			, #{trade_method}
			, #{product_status}
			, #{gu}
			, #{dong}
			, 0
		)
	</insert>	
	

</mapper>