<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.c5d2308t1_2.mapper.SosimhamMapper">
	<select id="selectLocation" resultType="map">
		SELECT *
		FROM Town 
	</select>
	
	<select id="selectGu" resultType="String">
		SELECT *
		FROM City
	</select>
	
	<select id="selectRelationKeyWord" resultType="String">
		SELECT search_content
		FROM Search
		WHERE search_content LIKE "${searchKeyWord}%"
		LIMIT 9;
	</select>
	
	<select id="selectMemberId" resultType="String">
		SELECT member_id
		FROM Member
		WHERE member_nickname = #{q}
	</select>
	
	<select id="selectSearchList" resultType="map">
		SELECT search_content, search_count 
		FROM Search 
		ORDER BY search_count DESC 
		LIMIT 20;
	</select>
	
	<select id="selectPopularList" resultType="map">
		select p.product_image1, t.dong , p.product_datetime , p.product_price , pl.product_like , p.product_category, p.product_id, p.product_name
		from Product p join ProductLike pl
		on p.product_id = pl.product_id 
		join Town t  
		on p.town_id = t.town_id 
		order by pl.product_like desc
		limit 8; 
	</select>
</mapper>